.goaeli{
    color: chartreuse;
}
.va{
    background-color: lightsteelblue;
}
.lele{
    background-color: darkseagreen;
}
.qeqe{
    background-color: yellow;
}
body{
    background-color: cadetblue;
}
.luka{
    background-color: crimson;
}
.zz{
    background-color: blue;
}
.as{
    background-color: coral;
}