.ER{
    background-color: tomato;
    padding: 30px;
}
.rt{
    background-color: cadetblue;
    padding: 30px;
}
.as{
    background-color: aqua;
    padding: 30px;
}
.d{
    background-color: darkolivegreen;
    padding: 30px;
}
body{
    background-color: lightblue ;
}
    