.cd{
    background-color: cornflowerblue;
    padding: 30px;
}
.wer{
    background-color: blueviolet;
    padding: 30px;
}
.asd{
    background-color: cadetblue;
    padding: 30px;
}
.xo{
    background-color: darkkhaki;
}
    
.df{
    background-color: coral;
    padding: 30px;
}
body{
    background-color: lightblue;
}