.fg{
    background-color: aquamarine;
        padding: 30px;
        margin: 15px;
}


.sad{
    background-color: darkseagreen;
    padding: 30px;
    margin: 15px;
}

.zx{
    background-color: blue;
    margin: 15px;
    padding: 30px;
}

.qsa{
    background-color: blueviolet;
    margin: 15px;
    padding: 30px;
}


.er{
    background-color: hotpink;
    padding: 30px;
    margin: 15px;
}

.rt{
    background-color: dodgerblue;
    padding: 30px;
    margin: 15px;
}

.zc{
    background-color: darkcyan;
    padding: 30px;
    margin: 15px;
}

.jk{
    background-color: darkmagenta;
    padding: 30px;
    margin: 15px;
}

.wer{
    background-color: darkolivegreen;
    margin: 15px;
    padding: 30px;
}

.f{
    background-color: darkgreen;
    padding: 30px;
    margin: 15px;
}

.rty{
    background-color: darkorange;
    padding: 30px;
    margin: 15px;
}


.fgn{
    background-color: lawngreen;
    padding: 30px;
    margin: 15px;
}


body{
    background-color: lightblue;
}