.da{
    background-color: aquamarine;
    padding: 30px;
}
.we{
    background-color: aqua;
    padding: 30px;
}

.zx{
    background-color: darkcyan;
    padding: 30px;
}

.fg{
    background-color: darkred;
    padding: 30px;
}
.hj{
    background-color: lime;
    padding: 30px;
}
body{
    background-color: lightsalmon ;
}