.as{
    background-color: aquamarine;
    padding: 30px;
}

.az{
    background-color: crimson;
    padding: 30px;
}

.we{
    background-color: cadetblue;
    padding: 30px;
}
.wd{
    background-color: blueviolet;
    padding: 30px;
}

.df{
    background-color: forestgreen;
    padding: 30px;
}

.wdf{
    background-color: deepskyblue;
    padding: 30px;
}
.er{
    background-color: darkred;
    padding: 30px;
}

.dsa{
    background-color: indianred;
    padding: 30px;
}

body{
    background-color: darkseagreen;
}